*,
*:after,
*:before {
  box-sizing: border-box;
  font: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

body {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}
body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 480px) {
  .react-pdf__Page__canvas {
    margin: 0 auto;
    width: 100% !important;
    height: 70% !important;
  }
}

@media screen and (min-width: 481px) {
  .react-pdf__Page__canvas {
    margin: 0 auto;
    width: 70% !important;
    height: 70% !important;
  }
}
